<div class="d-flex">
<div class="m-12 mr-0 bg-primary position-relative p-4 main-card border rounded">
<!-- restaurant card -->
<div class="m-4 ml-5 mt-5 res-card p-4 border border-white rounded drag-box" cdkDragBoundary=".main-card" cdkDrag>
  <h4 class="text-center mb-3">Restaurants details</h4>
  <div class="d-flex mb-2 justify-content-between align-center">
    <h5 class="text-white fw-bold">Pizza</h5>
    <h4 class="text-warning">{{currentTime}}</h4>
  </div>
  <div class="d-flex mb-2 justify-content-between align-center">
    <h5 class="text-white fw-bold">Burger</h5>
    <h4 class="text-warning">{{currentTime}}</h4>
  </div>
  <div class="d-flex mb-2 justify-content-between align-center">
    <h5 class="text-white fw-bold">Pasta</h5>
    <h4 class="text-warning">{{currentTime}}</h4>
  </div>
  <div class="d-flex mb-2 justify-content-between align-center">
    <h5 class="text-white fw-bold">Coke</h5>
    <h4 class="text-warning">{{currentTime}}</h4>
  </div>
</div>
<!-- delivery card -->
<div class="m-4 ml-5 menu-data p-4 border border-white rounded drag-box" cdkDragBoundary=".main-card" cdkDrag>
  <h5 class="text-center mb-3">Delivery details</h5>
  <div class="d-flex mb-2 justify-content-between align-center">
    <h5 class="text-white fw-bold">Pizza</h5>
    <h6 class="text-warning">{{currentTime}}</h6>
  </div>    
</div>
<!-- arrow card -->
<div class="absolute" cdkDragBoundary=".main-card" cdkDrag>
      <div id="holder" [ngClass]="dirChange ? 'rotateY180': 'rotateY0'">
        <div id="triangle-left"></div>
        <!-- *ngIf="showMultiPath" -->
        <div class="extraPath position-absolute" *ngIf="showMultiPath">
          <span class="position-absolute subStage" [ngClass]="{'rotateY180': dirChange, 'rotateY0': !dirChange}">0.25ms</span>
        </div>
        <span class="position-absolute final-stage" [ngClass]="{'rotateY180': dirChange, 'rotateY0': !dirChange}">2 mins</span>
        <span class="position-absolute third-stage" [ngClass]="{'rotateY180': dirChange, 'rotateY0': !dirChange}">1 ms</span>
        <span class="position-absolute second-stage" [ngClass]="{'rotateY180': dirChange, 'rotateY0': !dirChange}">0.5ms</span>
        <span class="position-absolute initial-stage" [ngClass]="{'rotateY180': dirChange, 'rotateY0': !dirChange}">0.1ms</span>
      </div>
</div>
</div>
<div class="icons">
  <i class="bi bi-shuffle" (click)="flipGraph()"></i>
  <i class="bi bi-sign-merge-left" *ngIf="!showMultiPath" (click)="showHideMerge(true)"></i>
  <i class="bi bi-arrow-up-square" *ngIf="showMultiPath" (click)="showHideMerge(false)"></i>
</div>
</div>